h1{
    margin-top: 13%!important;
}
.descarou{
    padding-top: 20%;
    text-align: center;
}

.carousel{
    background-color:grey;
}

.description{
    background-color: khaki;
}

.alergene{
    background-color: pink;
}